<section id="home" class="hero is-black is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <img style="border-radius: 8px;" src="./assets/icons/Logo.png" alt="Placeholder image">
            <h1 class="title">
                Welcome to Mandrill {{version}}
            </h1>
            <!--  <h2 class="subtitle">
          Fullheight subtitle
        </h2> -->
        </div>
    </div>
</section>

<!-- <button class="button is-primary">sas</button>
<button class="button is-primary">asdasd</button> -->
<man-swnat-mandrill></man-swnat-mandrill>

<section id="buttons">

    <div class="card is-hidden1">
        <div class="card-header">
            <p class="card-header-title">Buttons</p>
        </div>
        <div class="card-content">
            <div class="content">
                <p>Buttons trigger actions throughout the interface. They can also be used for navigation.</p>
                <!-- Main container -->
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <figure class="image is-64x64 is-marginless">
                                <img class="is-rounded" style="height: 100%; width: 100%; object-fit: cover;"
                                    src="https://monkeeyum.s3.amazonaws.com/author/estefi.jpg">
                            </figure>
                        </div>
                        <div class="level-item">
                            <h6>Estefania Garcete-Millares</h6>
                        </div>
                    </div>
                </nav>

                <div class="rows ">
                    <div class="row">
                        <h4>Primary</h4>
                        <div class="buttons" style="margin-top: .3rem;">
                            <button (click)="_toggleSidebar()" class="button is-primary ">Primary</button>
                            <!--  <button (click)="_toggleSidebar()" class="button is-primary is-loading">Primary</button>
                <button class="button is-link">Link</button> -->
                        </div>
                    </div>

                    <div class="row" style="margin-top: .3rem;">
                        <h4>Primary Fullwidth</h4>
                        <div class="buttons" style="margin-top: .3rem;">
                            <button (click)="_toggleSidebar()" class="button is-primary is-fullwidth">Primary Full
                                Width</button>
                            <!--  <button (click)="_toggleSidebar()" class="button is-primary is-loading">Primary</button>
                <button class="button is-link">Link</button> -->
                        </div>
                    </div>
                </div>

                <div style="margin: 10px;"></div>

                <div class="buttons">
                    <button class="button is-info">Info</button>
                    <button class="button is-success">Success</button>
                    <button class="button is-warning">Warning</button>
                    <button class="button is-danger">Danger</button>
                    <button class="button is-gray has-background-dark has-text-white">Danger</button>
                </div>
            </div>
        </div>
    </div>


</section>

<section>

</section>

<section id="buttons">

    <div class="card is-hidden1">
        <div class="card-header">
            <p class="card-header-title">Text Input</p>
        </div>
        <div class="card-content">
            <form>
                <label class="inputLabel" for="fname">First Name</label>
                <div class="field">
                    <div class="control">
                        <input class="input is-medium" type="text" placeholder="Yum the monkey">
                    </div>
                </div>
                <label class="inputLabel" for="fname">Password</label>
                <div class="field">
                    <div class="control">
                        <input class="input is-medium" type="password" placeholder="Password">
                    </div>
                </div>
                <label for="fname">First Name</label>
                <input class="input is-medium" type="text" id="fname" name="fname" value="John">
                <div class="buttons" style="margin-top: .3rem;">
                    <button (click)="_toggleSidebar()" class="button is-primary ">Submit</button>
                </div>
            </form>
        </div>
    </div>


</section>


<section class="section columns is-multiline m-2">
    <div class="column is-one-third-desktop is-half-tablet is-full-mobile ">
        <man-article-card title="Portion control isnt enough" category="Lose Weight"
            image="https://monkeeyum.s3.amazonaws.com/images/articles/lose-weight/apple-close-up.jpg">
        </man-article-card>
    </div>

    <div class="column is-one-third-desktop is-half-tablet is-full-mobile ">
        <man-article-card title="How Much Protein Do You Need to Build Muscle?" category="Build muscle"
            image="https://monkeeyum.s3.amazonaws.com/images/articles/build-muscle/athletes-barbell.jpg">
        </man-article-card>
    </div>
</section>